<header>
    <nav>

        <!-- Con href, lo que conseguimos es recarbar las páginas
         per, Angular ofrece ontro mecanismo para que sea reactivo,
         para que no recargue las páginas, sino que reaccione y muestre
         el componente -->
       <!--  <a href="/">Inicio  </a> -->  <!-- Comprobar como se recarga la página, observe la pestaña con el título -->
      <!--   <a href="/nosotros">Nosotros  </a>
        <a href="/productos">Productos  </a>
        <a href="/contacto">Contacto  </a>  --> 
<br>
<!-- Para eso usamos "routerLink" -->
         <a routerLink="/">Inicio  </a><!-- Comprobar como NO se recarga la página, observe la pestaña con el título -->
        <a routerLink="/nosotros">Nosotros  </a>
        <a routerLink="/productos">Productos  </a>
        <a routerLink="/contacto">Contacto  </a>
        <a routerLink="/ruta_erronea">Erronea  </a> 
        <a routerLink="/practicas">Prácticas  </a> 

    </nav>
</header>
